.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*gap: 15px;*/
    padding-bottom: 60px;
    width: 580px;
    gap: 20px;
    /*height: 642px;*/

    .cardText {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cardTitle {
        max-width: 476px;
    }
}

.card.cardText {

}

.card img {
    width: 580px;
    height: 360px;
    /*height: auto;*/
    object-fit: cover;
}